# Backend Environment Variables
PORT=3000
MONGODB_URI=mongodb://localhost:27017/iot-fleet-tracking
MQTT_BROKER_URL=mqtt://localhost:1883
MQTT_USERNAME=
MQTT_PASSWORD=
SOCKET_CORS_ORIGIN=http://localhost:4200
NODE_ENV=development
